@{
    ViewBag.Title = "Solve";

}
<h1>@ViewBag.Title</h1>
<h2 class="two-results">@ViewBag.TwoResults</h2>
<h2 class="one-result">@ViewBag.OneResult</h2>
<h2 class="no-results">@ViewBag.NoResult</h2>
<h2 class="all-solution">@ViewBag.AllSolution</h2>
